body{
    background:url(../img/Fondo2.png) center;
    background-size: cover;
}

input{
    border-bottom: 1px solid #AEB6BF !important;
}

.login-box-body{
    border-radius: 7px;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
}


